<template>
  <Page>
    <ActionBar v-bind:title="title" v-on:tap="reloadHome">
      <NavigationButton v-show="backable" v-on:tap="goBack" android.systemIcon="ic_menu_back"/>
      <ActionItem v-show="tab===1" v-on:tap="restartResearch" android.systemIcon="ic_menu_refresh" android.position="actionBar"></ActionItem>
      <ActionItem v-show="!$store.getters.auth" v-on:tap="goToWelcomePage" text="S'authentifier" android.position="popup"></ActionItem>
      <ActionItem v-show="$store.getters.auth" v-on:tap="goToProfilePage" text="Profil" android.position="popup"></ActionItem>
      <ActionItem v-show="$store.getters.auth" v-on:tap="logout" text="Déconnexion" android.position="popup"></ActionItem>
    </ActionBar>
    <GridLayout columns="*" rows="*">
      <!-- Tabs with navigation bar -->
      <TabView androidTabsPosition="bottom" height="100%" v-bind:selectedIndex="tab" v-on:selectedIndexChanged="tabIndexChanged($event)">
        <!-- Home tab -->
        <TabViewItem class="fa" v-bind:title="'\uf015'">
          <GridLayout columns="*" rows="*">
            <Home v-bind:key="homeKey"></Home>
          </GridLayout>
        </TabViewItem>
        <!-- Research tab -->
        <TabViewItem class="fa" v-bind:title="'\uf002'">
          <GridLayout columns="*" rows="*">
            <Research v-bind:key="researchKey" v-on:liked="goToMessages"></Research>
          </GridLayout>
        </TabViewItem>
        <!-- Bookmarks tab -->
        <TabViewItem class="fa" v-bind:title="'\uf004'">
          <GridLayout columns="*" rows="*">
            <Bookmarks v-bind:key="bookmarksKey"></Bookmarks>
          </GridLayout>
        </TabViewItem>
        <!-- Messages tab -->
        <TabViewItem class="fa" v-bind:title="'\uf086'">
          <GridLayout columns="*" rows="*">
            <Messages></Messages>
          </GridLayout>
        </TabViewItem>
      </TabView>
    </GridLayout>
  </Page>
</template>

<script>
import Home from "./Home";
import Research from "./Research";
import Bookmarks from "./Bookmarks";
import Messages from "./Messages";
import Profile from "./Profile";
import Welcome from "./Welcome";

export default {
  name: "App",
  components: {
    Home,
    Research,
    Bookmarks,
    Messages
  },
  data: function() {
      return {
          title: "Ibili",
          tab: 0,
          titles: ["Accueil", "Recherche", "Favoris", "Messages"],
          homeKey: 0,
          researchKey: 0,
          bookmarksKey: 0,
          backable: false
      }
  },
  methods: {
    goToWelcomePage() {
      this.$navigateTo(Welcome);
    },
    goToProfilePage() {
      this.$navigateTo(Profile);
    },
    logout() {
      this.$store.commit("save", {auth: false, token: ""});
      this.$store.commit("picture", "~/assets/images/profile.png");
      this.$navigateTo(Welcome, {clearHistory: true });
    },
    goBack() {
        console.log("Back");
    },
    reloadHome() {
        if(this.tab === 0) {
            this.homeKey += 1;
        }
    },
    restartResearch() {
        confirm({
            title: "Relancer la recherche",
            message: "Voulez-vous vraiment relancer la recherche ?",
            okButtonText: "OK",
            cancelButtonText: "Annuler",
        }).then(result => {
            if(result) {
                this.researchKey += 1;
            }
        });
    },
    tabIndexChanged(event) {
      this.tab = event.newIndex;
      if(this.tab == 2) {
          this.bookmarksKey += 1;
      }
      this.title = this.titles[event.newIndex];
    },
    goToMessages() {
      this.tab = 3;
    }
  }
};
</script>

<style scoped>
Page {
  background-image: url("~/assets/images/sign-up.png");
  background-size: cover;
}

TabView {
  tab-text-color: #cccccc;
  selected-tab-text-color: #ffffff;
  tab-background-color: #003a42;
  android-selected-tab-highlight-color: #f58b00;
}

TabViewItem {
  font-size: 20;
}

#connection {
  padding-right: 15;
  background-color: transparent;
}
</style>
