<template>
<GridLayout>
  <GridLayout v-show="this.cards.length==0" rows="*,*,*" columns="*">
    <Label row="1" text="Pas de favoris" class="textcenter"/>
  </GridLayout>
  <PullToRefresh v-bind:key="componentKey" v-on:refresh="refreshList">
    <ListView for="card in cards" separatorColor="transparent">
      <v-template>
        <Card v-bind:key="card" v-on:removed="refreshList" v-bind:mode="'reduced'" v-bind:group="card"></Card>
      </v-template>
    </ListView>
  </PullToRefresh>
</GridLayout>
</template>

<script>
import Card from "./Card";
import axios from 'axios';

export default {
  components: {
    Card
  },
  data: function() {
    return {
      componentKey: 0,
      cards: []
    };
  },
  mounted: function() {
    this.initCard();
  },
  methods: {
    initCard: function() {
        const head = {headers: {"x-access-token": this.$store.getters.token}};
        axios.get("http://185.216.27.203:3000/me", head)
        .then(res => {
            this.cards = res.data.groups;
        })
        .catch(err => console.log(err));
    },
    refreshList: function(args) {
        console.log(this.cards);
      var pullRefresh = args.object;
      setTimeout(() => {
        pullRefresh.refreshing = false;
        this.initCard();
        this.componentKey += 1;
      }, 1000);
    }
  }
};
</script>

<style>
.textcenter {
  text-align: center;
}
</style>
