<template>
  <GridLayout columns="*" rows="*">
    <!-- Full size card -->
    <GridLayout v-show="mode=='full'" class="card" rows="auto,*,12*,12*,12*,12*" columns="*" v-on:tap="toggleDetails">
      <Image row="0" class="image" v-bind:src="img" width="100%"/>
      <Label row="1" class="cardseparator"/>
      <Label row="2" class="title" v-bind:text="country"/>
      <Label row="3" class="subtitle" v-bind:text="city"/>
      <Label row="4" class="subtitle" v-bind:text="startdate+' - '+enddate"/>
      <WrapLayout row="5" orientation="horizontal" horizontalAlignment="center">
        <Button v-for="tag in tags" v-bind:key="tag.id" v-bind:text="tag" class="tagbutton"/>
      </WrapLayout>
    </GridLayout>

    <!-- Reduced card -->
    <GridLayout v-show="mode=='reduced'" class="card" rows="*,*,*" columns="auto,*,40*" v-on:tap="toggleDetails">
      <Image row="0" col="0" rowSpan="3" class="imagereduced" v-bind:src="imgreduced" height="100%" width="45%"/>
      <Label row="0" col="1" rowSpan="3" class="cardseparator"/>
      <Label row="0" col="2" class="titlereduced" v-bind:text="country" verticalAlignment="bottom"/>
      <Label row="1" col="2" class="subtitlereduced" v-bind:text="city" verticalAlignment="center"/>
      <Label row="2" col="2" class="subtitlereduced" v-bind:text="startdate+' - '+enddate"/>
    </GridLayout>

    <!-- Detailed card -->
    <GridLayout v-show="mode=='detailed'" class="card" rows="*,*,*,2*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" columns="*,*" v-on:tap="toggleDetails">
      <Label row="0" col="0" colSpan="2" height="20"/>
      <Label row="1" col="0" class="subtitlereduced" v-bind:text="city" verticalAlignment="bottom"/>
      <Label row="1" col="1" class="subtitlereduced" v-bind:text="startdate+' - '+enddate" verticalAlignment="bottom"/>
      <Label row="2" col="0" colSpan="2" height="20"/>
      <WrapLayout row="3" col="0" colSpan="2" orientation="horizontal" horizontalAlignment="center">
        <Button v-for="tag in tags" v-bind:key="tag.id" v-bind:text="tag" class="tagbutton"/>
      </WrapLayout>      
      <Label row="4" colSpan="2" class="subtitlereduced" text="Culture & Tradition"/>
      <Progress row="5" colSpan="2" v-bind:value="sun.culture" maxValue="4" class="sunpb"/>
      <Label row="6" colSpan="2" class="subtitlereduced" text="Gastronomie"/>
      <Progress row="7" colSpan="2" v-bind:value="sun.food" maxValue="4" class="sunpb"/>
      <Label row="8" colSpan="2" class="subtitlereduced" text="Sport"/>
      <Progress row="9" colSpan="2" v-bind:value="sun.sport" maxValue="4" class="sunpb"/>
      <Label row="10" colSpan="2" class="subtitlereduced" text="Paysages"/>
      <Progress row="11" colSpan="2" v-bind:value="sun.landscape" maxValue="4" class="sunpb"/>
      <Label row="12" colSpan="2" class="subtitlereduced" text="Détente"/>
      <Progress row="13" colSpan="2" v-bind:value="sun.chillout" maxValue="4" class="sunpb"/>
      <Label row="14" colSpan="2" class="subtitlereduced" text="Divertissement"/>
      <Progress row="15" colSpan="2" v-bind:value="sun.entertainment" maxValue="4" class="sunpb"/>
      <Label row="16" col="0" colSpan="2" height="20" v-show="oldmode=='reduced'"/>
      <Button row="17" col="1" v-show="oldmode=='reduced'"
      v-on:tap="like" class="fa researchbutton"
      v-bind:text="'\uf004'"
      v-bind:color="likecolor"
      backgroundColor="transparent"
      horizontalAlignment="right"/>
      <Label row="18" col="0" colSpan="2" height="20" v-show="oldmode=='reduced'"/>
    </GridLayout>

  </GridLayout>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    mode: {
      type: String,
      default: "full"
    },
    group: String
  },
  data: function() {
    return {
      me: {headers: {"x-access-token": this.$store.getters.token}},
      likecolor: '#d1e2c5',
      img: "",
      imgreduced: "",
      country: "",
      city: "",
      startdate: "",
      enddate: "",
      tags: [],
      sun: {
        sport: 0,
        chillout: 0,
        entertainment: 0,
        landscape: 0,
        culture: 0,
        food: 0
      },
      oldmode: ""
    };
  },
  mounted: function() {
    axios
    .get("http://185.216.27.203:3000/groups/id/" + this.group)
    .then(res => {
      // Get dates
      const startmonth = res.data.startdate.split("T")[0].split("-")[1];
      const startday = res.data.startdate.split("T")[0].split("-")[2];
      this.startdate = startday + '/' + startmonth;
      const endmonth = res.data.enddate.split("T")[0].split("-")[1];
      const endday = res.data.enddate.split("T")[0].split("-")[2];
      this.enddate = endday + '/' + endmonth;
      // Get sun
      this.sun.sport = res.data.sun.sport
      this.sun.chillout = res.data.sun.chillout
      this.sun.entertainment = res.data.sun.entertainment
      this.sun.landscape = res.data.sun.landscape
      this.sun.culture = res.data.sun.culture
      this.sun.food = res.data.sun.food
      // Get tags
      this.tags = res.data.tags
      // Get destination
      this.img = "~/assets/images/destinations/" + res.data.destination.image;
      this.imgreduced = "~/assets/images/destinations/reduced/" + res.data.destination.image;
      this.country = res.data.destination.country;
      this.city = res.data.destination.city;
      axios.get("http://185.216.27.203:3000/me", this.me)
      .then(res => {
        var usergroups = res.data.groups;
        if(usergroups.includes(this.group)) {
          this.likecolor = '#6ee81d';
        }
        else {
          this.likecolor = '#d1e2c5';
        }
      })
      .catch(err => {console.log(err.res);});
    })
    .catch(err => {console.log(err.res);});
  },
  methods: {
    toggleDetails: function() {
        if(this.mode == "detailed") {
            this.mode = this.oldmode;
        }
        else {
            this.oldmode = this.mode;
            this.mode = "detailed";
        }
    },
    toggleLikeColor: function() {
        if(this.likecolor == '#d1e2c5') {
            this.likecolor = '#6ee81d';
        }
        else {
            this.likecolor = '#d1e2c5';
        }
    },
    like: function() {
        axios.get("http://185.216.27.203:3000/me", this.me)
        .then(res => {
            var usergroups = res.data.groups;
            if(!usergroups.includes(this.group)) {
                usergroups.push(this.group);
                axios.put("http://185.216.27.203:3000/me", {groups: usergroups}, this.me)
                .then( res => {
                    this.toggleLikeColor();
                    alert({
                    title : "Ajoutée aux favoris",
                    message: "L'annonce a été ajoutée aux favoris",
                    okButtonText: "OK"
                    });
                })
                .catch(err => console.log(err));

            }
            else {
                var index = usergroups.indexOf(this.group);
                if (index > -1) {
                    confirm({
                        title: "Supprimer des favoris",
                        message: "Voulez-vous vraiment supprimer cette annonce des favoris ?",
                        okButtonText: "OK",
                        cancelButtonText: "Annuler",
                    })
                    .then(result => {
                        if(result) {
                            usergroups.splice(index, 1);
                            axios.put("http://185.216.27.203:3000/me", {groups: usergroups}, this.me)
                            .then( res => {
                                this.toggleLikeColor();
                                console.log("REMOVED");
                                this.$emit('removed');
                            })
                            .catch(err => console.log(err));
                        }
                    });
                }
            }

        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style>
.card {
  margin: 5 5 0 5;
  background-color: #ffffff;
  border-radius: 9;
}
.cardseparator {
  background-color: #ffa800;
}
.image {
  border-top-left-radius: 9;
  border-top-right-radius: 9;
}
.imagereduced {
  border-top-left-radius: 9;
  border-bottom-left-radius: 9;
}
.title {
  font: 40;
  text-align: center;
}
.titlereduced {
  font: 35;
  text-align: center;
}
.subtitle {
  font: 25;
  text-align: center;
  font-style: italic;
}
.subtitlereduced {
  font: 20;
  text-align: center;
  font-style: italic;
}
.sunpb {
  color: #ffa800;
  width: 80%;
}
</style>
