<template>
  <Page actionBarHidden="true" class="auth-page">
    <StackLayout orientation="vertical">
      <GridLayout rows="auto" columns="auto, *, auto">
        <FontIcon name="fa-arrow-left" class="white margin-10" row="0" col="0" size="27.5" v-on:tap="$navigateBack"/>
      </GridLayout>

      <GridLayout rows="auto" columns="*, *, *" horizontalAlignment="center">
        <Image src="~/assets/images/logo.png" row="0" col="1"/>
      </GridLayout>

      <GridLayout rows="auto,auto,auto,*" columns="*,5*,*">
          <TextField class="auth-field" v-model="email" hint="Email" row="0" col="1"/>
          <TextField class="auth-field" v-model="password" hint="Mot de passe" secure="true" row="1" col="1" />
          <Button class="auth-btn" text="Connexion" v-on:tap="authenticate" row="2" col="1" /> 
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
import App from "./App";
import axios from "axios";

export default {
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    goToMainPage() {
      this.$navigateTo(App);
    },
    authenticate() {
      axios
      .post("http://185.216.27.203:3000/login", {email: this.email, password: this.password})
      .then(res => {
        if(res.data.auth) {
          this.$store.commit("save", res.data);
          this.$navigateTo(App, {clearHistory: true });
        } else {
          alert({
            title: "Connexion",
            message: "Connexion impossible. Etes-vous bien connecté(e) à internet ?",
            okButtonText: "OK"
          });
        }
      })
      .catch(err => {
        console.log(err);
        alert({
            title: "Connexion",
            message: "Identifiants incorrects",
            okButtonText: "OK"
          });
      });
    }
  }
}
</script>