<template>
  <PullToRefresh v-bind:key="componentKey" v-on:refresh="refreshList">
    <ListView for="card in cards" separatorColor="transparent" v-on:loadMoreItems="onLoadMoreItems">
      <v-template>
        <Card v-bind:key="card" v-bind:mode="'reduced'" v-bind:group="card"></Card>
      </v-template>
    </ListView>
  </PullToRefresh>
</template>

<script>
import Card from "./Card";
import axios from 'axios';
import Vue from 'vue';
Vue.registerElement('PullToRefresh', () => require('nativescript-pulltorefresh').PullToRefresh);

export default {
  components: {
    Card
  },
  data: function() {
    return {
      componentKey: 0,
      cards: []
    };
  },
  mounted: function() {
    this.initCard();
  },
  methods: {
    initCard: function() {
        axios
        .get("http://185.216.27.203:3000/groups/rand")
        .then(res => {
            this.cards = [res.data._id];
        })
        .catch(err => {console.log(err.res);});
    },
    refreshList: function(args) {
      var pullRefresh = args.object;
      setTimeout(() => {
        pullRefresh.refreshing = false;
        this.initCard();
        this.componentKey += 1;
      }, 1000);
    },
    onLoadMoreItems: function() {
        axios
        .get("http://185.216.27.203:3000/groups/rand")
        .then(res => {
            this.cards.push(res.data._id);
        })
        .catch(err => {console.log(err.res);});
    }
  }
};
</script>

<style>
</style>
