<template>
  <GridLayout rows="*,*,*" columns="*">
    <Label row="1" text="En construction" class="textcenter"/>
  </GridLayout>
</template>

<script>
</script>

<style>
.textcenter {
  text-align: center;
}
</style>
