<template>
  <Page>
    <ActionBar title="Profil">
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" v-on:tap="$navigateBack"/>
    </ActionBar>
    <StackLayout orientation="vertical">
      <GridLayout rows="auto, auto, auto" columns="*, *" >
        <Image v-bind:src="picture" stretch="aspectFill" width="128" height="128" row="0" col="0" borderRadius="100"/>
        <StackLayout orientation="vertical" row="0" col="1">
          <Label v-bind:text="name()" id="name" horizontalAlignment="center"/>
          <Label v-bind:text="birth" horizontalAlignment="center"/>
          <Label v-bind:text="sex" horizontalAlignment="center"/>
          <Label v-bind:text="city" horizontalAlignment="center"/>
        </StackLayout>
      </GridLayout>

      <Label class="separator" width="80%" height="5" horizontalAlignment="center" />

      <StackLayout orientation="horizontal" horizontalAlignment="center" v-for="skill in skills" v-bind:key="skill.id">
        <Label v-if="skill.skillType != 0" v-bind:text="skill.name" />
        <FontIcon v-if="skill.skillType != 0" name="fa-check" class="orange"/>
      </StackLayout>

      <Label class="separator" width="80%" height="5" horizontalAlignment="center" />
      <StackLayout orientation="horizontal" horizontalAlignment="center" v-for="skill in skills" v-bind:key="skill.id">
        <Label v-if="skill.skillType === 0" v-bind:text="skill.name" />
        <FontIcon v-if="skill.skillType === 0" name="fa-check" class="orange"/>
      </StackLayout>

    </StackLayout>
  </Page>
</template>

<script>
import Welcome from "./Welcome";
import axios from "axios";

export default {
  data: function() {
    return {
      firstname: "",
      lastname: "",
      city: "",
      birth: "",
      sex: "",
      picture: "~/assets/images/profile.png",
      genders: ["Femme", "Homme", "Non spécifié"],
      skills: []
    };
  },
  methods: {
    logout() {
      this.$store.commit("save", {auth: false, token: ""});
      this.$navigateTo(Welcome, {
        clearHistory: true
      });
    },
    name() {
      return this.firstname+" "+this.lastname;
    },
    format_date(input) {
      var pattern = /(\d{4})\-(\d{2})\-(\d{2})/;
      if (!input || !input.match(pattern)) {
        return null;
      }
      return input.replace(pattern, '$3/$2/$1');
    }
  },
  mounted: function() {
    if (this.$store.getters.picture) {
      this.picture = this.$store.getters.picture;
    }

    axios
    .get(
      "http://185.216.27.203:3000/me",
      {
        headers: { "x-access-token" : this.$store.getters.token } 
      }
    )
    .then(res => {
      this.firstname = res.data.firstname;
      this.lastname = res.data.lastname;
      this.city = res.data.city;
      this.birth = this.format_date(res.data.birth.split("T")[0]);
      this.sex = this.genders[res.data.sex];
      this.skills = res.data.skills;
    })
    .catch(err => {
      console.log(err);
    });
  }
};
</script>


<style scoped>
Image, Label {
  margin: 9;
}

Label {
  font-size: 18;
}

.separator {
    background-color: #ffa800;
}

#name {
  font-size: 20;
}
</style>