<template>
      <GridLayout rows="12,7*,*" columns="*">
        
        <!-- Progress bar -->
        <Progress v-show="step<4" row="0" v-bind:value="step" maxValue="4" class="configpb"/>

        <!-- Step 1: Destination -->
        <GridLayout v-show="step==1" row="1" rows="*,*,*,*,*,*,*,*,*,*" columns="*">  
          <Label row="0" class="researchtextsmall" text="Pays" verticalAlignment="bottom"/>
          <TextField row="1" class="researchtextsmall" v-model="destination.country" hint="..." width="80%" verticalAlignment="top"/>
          <Label row="2" class="researchtextsmall" text="Ville" verticalAlignment="botton"/>
          <TextField row="3" class="researchtextsmall" v-model="destination.city" hint="..." width="80%" verticalAlignment="top"/>
          <WrapLayout row="4" orientation="horizontal" horizontalAlignment="center">
            <Button v-for="tag in tags" v-bind:key="tag" v-bind:text="tag" class="tagbutton" v-on:tap="removeTag(tag)"/>
          </WrapLayout>
          <SearchBar row="5"
          hint="Tags..."
          v-model="barValue"
          textFieldBackgroundColor="transparent"
          textFieldHintColor="#bbbbbb"
          v-on:submit="addTag"
          width="90%"/>
          <Label row="7" class="researchtextsmall" text="&quot;Le voyageur est celui qui se"/>
          <Label row="8" class="researchtextsmall" text="donne le temps de la rencontre et"/>
          <Label row="9" class="researchtextsmall" text="de l'échange&quot; - Frédéric Lecloux"/>
        </GridLayout>

        <!-- Step 2: Dates -->
        <GridLayout v-show="step==2" row="1" rows="*,*,4*,*,*,4*,*" columns="*">
          <Label row="1" class="researchtextsmall" text="Début"/>
          <DatePicker row="2"
          v-model="startdate"
          minDate="2019-01-01"
          maxDate="2077-12-31"
          />
          <Label row="4" class="researchtextsmall" text="Fin"/>
          <DatePicker row="5"
          v-model="enddate"
          minDate="2019-01-01"
          maxDate="2077-12-31"
          />
        </GridLayout>

        <!-- Step 3: Sun -->
        <GridLayout v-show="step==3" row="1" rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" columns="*">
          <Label row="1" class="researchtextsmall" text="Culture & Tradition"/>
          <Slider row="2" v-model="sun.culture" value="2" minValue="0" maxValue="4"/>
          <Label row="4" class="researchtextsmall" text="Gastronomie"/>
          <Slider row="5" v-model="sun.food" value="3" minValue="0" maxValue="4"/>
          <Label row="7" class="researchtextsmall" text="Sport"/>
          <Slider row="8" v-model="sun.sport" value="2" minValue="0" maxValue="4"/>
          <Label row="10" class="researchtextsmall" text="Paysages"/>
          <Slider row="11" v-model="sun.landscape" value="3" minValue="0" maxValue="4"/>
          <Label row="13" class="researchtextsmall" text="Détente"/>
          <Slider row="14" v-model="sun.chillout" value="2" minValue="0" maxValue="4"/>
          <Label row="16" class="researchtextsmall" text="Divertissement"/>
          <Slider row="17" v-model="sun.entertainment" value="3" minValue="0" maxValue="4"/>
        </GridLayout>

        <!-- Step 4: Research -->
        <Card v-show="step==4" row="0" rowSpan="2" v-bind:key="cardKey" v-bind:mode="'full'" v-bind:group="card" ref="card"></Card>

        <!-- Navigation buttons -->
        <GridLayout verticalAlignment="center" row="2" rows="*" columns="*,*,*,*" backgroundColor="transparent">
          <!-- Configuration -->
          <Button v-show="step>1 && step<4" col="0" v-on:tap="previous" class="fa researchbutton" v-bind:text="'\uf060'" backgroundColor="transparent"/>
          <Button v-show="step<3" col="3" v-on:tap="next" class="fa researchbutton" v-bind:text="'\uf061'" backgroundColor="transparent"/>
          <Button v-show="step==3" col="3" v-on:tap="startSuggestions" class="fa researchbutton" v-bind:text="'\uf00c'" backgroundColor="transparent"/>          
          <!-- Research -->
          <Button v-show="step==4" v-on:tap="nope" class="fa researchbutton" v-bind:text="'\uf00d'" color="#e81d1d" row="0" col="0" horizontalAlignment="center"/>
          <Button v-show="step==4" v-on:tap="plus" class="fa researchbutton" v-bind:text="'\uf05a'" color="#232323" row="0" col="1" horizontalAlignment="center"/>
          <Button v-show="step==4" v-on:tap="chat" class="fa researchbutton" v-bind:text="'\uf086'" color="#232323" row="0" col="2" horizontalAlignment="center"/>
          <Button v-show="step==4" v-on:tap="like" class="fa researchbutton" v-bind:text="'\uf004'" color="#6ee81d" row="0" col="3" horizontalAlignment="center"/>
        </GridLayout>

      </GridLayout>
</template>

<script>
import Card from "./Card";
import axios from "axios";

export default {
  components: {
    Card
  },
  data: function() {
    return {
      me: {headers: {"x-access-token": this.$store.getters.token}},
      step: 1,
      cardKey: 0,
      card: "",
      destination: {country: "", city: "", image: ""},
      startdate: "",
      enddate: "",
      tags: [],
      barValue: "",
      sun: {sport: 2, chillout: 2, entertainment: 3, landscape: 3, culture: 2, food: 3},
      images: ["france.jpg", "japon.jpg", "italie.jpg", "islande.jpg", "angleterre.jpg"],
      suggestions: [],
      scount: 0
    };
  },
  mounted() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) { dd = '0'+dd };
    if(mm<10) { mm = '0'+mm };
    today = mm + '-' + dd + '-' + yyyy;
    this.startdate = today;
    this.enddate = today;
  },
  methods: {
    next() {
      if(this.validFields()) {
        this.step += 1;
      }
    },
    previous() {
      this.step -= 1;
    },
    addTag() {
      this.tags.push(this.barValue);
      this.barValue= "";
    },
    removeTag(tag) {
      this.tags = this.tags.filter(item => item !== tag);
      console.log(this.tags);
    },
    validFields() {
      if(!this.destination.country || !this.destination.city) {
        alert({
          title : "Certains champs sont manquants",
          message: "Veuillez remplir tous les champs",
          okButtonText: "OK"
        });
        return false;
      };
      return true;
    },
    async getSuggestions() {
        this.suggestions = [];
        this.scount = 0;
        await axios
        .get("http://185.216.27.203:3000/find/destinations/" + this.destination.country)
        .then(res => {
            for(var item in res.data) {
                this.suggestions.push(res.data[item]._id);
            }
        })
        .catch(err => {console.log(err.res);});
    },
    async nextCard() {
        if(this.scount < this.suggestions.length) {
            this.card = this.suggestions[this.scount];
            this.scount += 1;
        }
        else {
            await axios
            .get("http://185.216.27.203:3000/groups/rand")
            .then(res => {
                this.card = res.data._id;
            })
            .catch(err => {console.log(err.res);});
        }
        this.cardKey += 1;
    },
    postCard() {
      if(this.validFields()) {
        // Get user id
        axios.get("http://185.216.27.203:3000/me", this.me)
        .then(res => {
            const user = res.data._id;
            var usergroups = res.data.groups;
            const img = this.destination.country.toLowerCase() + ".jpg";
            if(this.images.includes(img)) {
                this.destination.image = img;
            }
            else {
                this.destination.image = "undefined.jpg";
            }
            let postBody = {
                destination: this.destination,
                startdate: this.startdate,
                enddate: this.enddate,
                sun: this.sun,
                tags: this.tags,
                travellers: [user]
            }
            axios.post("http://185.216.27.203:3000/groups", postBody, this.me)
            .then(res => {
                usergroups.push(res.data._id);
                axios.put("http://185.216.27.203:3000/me", {groups: usergroups}, this.me)
                .then( res => {
                    console.log("POST");
                })
                .catch(err => console.log(err));
            })
            .catch(err => console.log(err));
        })
        .catch(err => console.log(err));
      };
    },
    async startSuggestions() {
        await this.getSuggestions();
        this.nextCard();
        this.postCard();
        this.step += 1;
        alert({
            title : "C'est parti !",
            message: "Voici ce que nous vous recommandons",
            okButtonText: "OK"
        });
    },
    nope() {
      // Load new card
      this.nextCard();
    },
    plus() {
      // Toggle details
      this.$refs.card.toggleDetails();
    },
    chat() {
      // Add card to bookmarks & go to chat
      this.$refs.card.like();
      this.$emit('liked');
    },
    like() {
      // Add card to bookmarks & load new card
      this.$refs.card.like();
      this.nextCard();
    }
  }
};
</script>

<style>
.configpb {
  color: #297373;
}
Slider {
  color: #ffa800;
  background-color: #ffa800;
}
.researchtext {
  font: 30;
  text-align: center;
}
.researchtextsmall {
  font: 20;
  text-align: center;
}
.researchbutton {
  margin: 0;
  width: 23%;
  border-radius: 9;
  background-color: #ffffff;
}
</style>
