<template>
  <Page class="auth-page" actionBarHidden="true">
    <StackLayout orientation="vertical">
      <GridLayout id="actions" rows="auto" columns="auto, *, auto">
        <Button class="action-btn blue-green" text="Ignorer" row="O" col="2" v-on:tap="goToMainPage"/>
      </GridLayout>

      <GridLayout rows="auto" columns="*, *, *" horizontalAlignment="center">
        <Image src="~/assets/images/logo.png" row="0" col="1"/>
      </GridLayout>

      <GridLayout rows="*,*,*,2*,2*,2*,3*" columns="*,2*,*">
          <Label class="auth-title" text="Trouvez vos" horizontalAlignment="center" row="1" col="1"/>
          <Label class="auth-title" text="compagnons de voyage" horizontalAlignment="center" row="2" col="0" colSpan="3"/>
          <Button class="auth-btn" text="Inscription" row="4" col="1" v-on:tap="goToSignUpPage"/>
          <Button class="auth-btn" text="Connexion" v-on:tap="goToConnectionPage" row="5" col="1"/>
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
import SignUp from "./signUp/StepOne";
import Connection from "./Connection";
import App from "./App";

export default {
  methods: {
    goToSignUpPage() {
      this.$navigateTo(SignUp);
    },
    goToMainPage() {
      this.$navigateTo(App);
    },
    goToConnectionPage() {
      this.$navigateTo(Connection);
    }
  }
};
</script>