// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
    font-family: FontAwesome, fontawesome-webfont;
    font-size: 25em;
}

ActionBar {
  background-color : #003a42;
  color: #ffffff;
}

Page {
  background-color: white;
}


.margin-10 {
  margin: 10;
}

.separator {
  height: 1; 
  width: 80%;
}

.action-btn {
  background-color: transparent;
  border-width: 1;
  border-color: transparent;
}

.skill-label {
  font-size: 16;
}

.tagbutton {
    font: 15;
    color: #616161;
    background-color: #e0e0e0;
    border-radius: 9;
    margin: 5;
  }

/************************************************************
 *                         Colors                           *
 ************************************************************/

 .white {
  color: white;
}

.blue-green {
  color: #00423e;
}

.orange {
  color: #ffa800;
}

.bg-transparent {
  background-color: transparent;
}

/************************************************************
 *                       Auth style                         *
 ************************************************************/
.auth-title {
  color: white;
  font-size: 20;
}

.auth-page {
  background-image: url("~/assets/images/welcome.png");
  background-size: cover;
}

.auth-btn {
  background-color: #003a42;
  color: #ffffff;
  margin: 10;
  border-radius: 100; 
}

.auth-field {
  color: white;
  placeholder-color: #dddddd;
  font-family: Roboto, Helvetica Neue;
  margin: 10;
  border-bottom-width: 1;
  border-color: white; 
}

/************************************************************
 *                      Sign-up style                       *
 ************************************************************/
.sign-up-page {
  background-image: url("~/assets/images/sign-up.png");
  background-size: cover;
}

.sign-up-page ActionBar {
  border-bottom-color: #ffa800;
  border-bottom-width: 2;
}

.sign-up-arrow {
  margin: 20;
  border-radius: 50;
  background-color: transparent;
  color: #ffa800;
}