<template>
  <Page class="sign-up-page">
    <ActionBar title="A propos de vous">

    </ActionBar>

    <StackLayout orientation="vertical" backgroundColor="transparent">
      <GridLayout rows="auto" columns="*, 5*, *">
        <Progress value="3" maxValue="3" row="0" col="1"/>
      </GridLayout>"

      <SearchBar hint="Langues parlées" v-model="barValue" textFieldBackgroundColor="transparent" textFieldHintColor="#888888" v-on:submit="addLanguage" />

      <WrapLayout orientation="horizontal" horizontalAlignment="center" height="20%">
        <StackLayout orientation="horizontal" v-for="lang in languages" v-bind:key="lang" class="language">
          <Label class="skill-label" v-bind:text="lang"/>
          <FontIcon name="fa-times" size="16" v-on:tap="removeLanguage(lang)"/>
        </StackLayout>
      </WrapLayout>

      <StackLayout class="separator" backgroundColor="#ffa800"></StackLayout>

      <GridLayout rows="auto, auto, auto" columns="*, 3*, 2*, *" verticalAlignment="center">

        <Label class="margin-10" text="Permis voiture" row="0" col="1"/>
        <Switch class="margin-10 " v-model="car" row="0" col="2"></Switch>

        <Label class="margin-10" text="Permis bateau" row="1" col="1"/>
        <Switch class="margin-10" v-model="boat" row="1" col="2"></Switch>

        <Label class="margin-10" text="Premiers secours" row="2" col="1"/>
        <Switch class="margin-10" v-model="aid" row="2" col="2"></Switch>
      </GridLayout>

      <GridLayout id="nav" rows="*, auto" columns="*,*">
        <FontIcon name="fa-arrow-left" class="sign-up-arrow" row="1" col="0" size="36" horizontalAlignment="left" v-on:tap="goBackward"/>
        <FontIcon name="fa-arrow-right" class="sign-up-arrow" row="1" col="1" size="36" horizontalAlignment="right" v-on:tap="goForward"/>
      </GridLayout>
    </StackLayout>
	</Page>
</template>

<script>
import App from "../App";
import axios from "axios";

export default {
  data: function() {
    return {
      languages: [],
      barValue: "",
      car: false,
      boat: false,
      aid: false
    }
  },
  methods: {
    addLanguage() {
      this.languages.push(this.barValue);
      this.barValue= "";
    },
    removeLanguage(lang) {
      console.log(lang);
      this.languages = this.languages.filter(item => item !== lang);
    },
    goBackward() {
    	this.$navigateBack();   
    },
    async goForward() {
      let formattedSkills = [];
      for(let i = 0; i < this.languages.length; i++) {
        formattedSkills.push({ name : this.languages[i], skillType: 0 });
      }
      if(this.car)
        formattedSkills.push({ name : "Permis voiture", skillType: 1 });
      if(this.boat)
        formattedSkills.push({ name : "Permis bateau", skillType: 2 });
      if(this.aid)
        formattedSkills.push({ name : "Premiers secours", skillType: 3 });

      let res = await axios.put("http://185.216.27.203:3000/me", 
        { skills: formattedSkills },
        { headers: { "x-access-token" : this.$store.getters.token } }
      );

      if (res.data.modified) {
        this.$navigateTo(App, { clearHistory: true });
      }
    }
  }
};
</script>

<style scoped>
.language {
  margin:5;
}


SearchBar {
  color: black;
  border-width: 1;
  border-color: white;
}

Switch[checked=true]{
  color: #ffa800;
  background-color: darkgray;
}

Switch[checked=false]{
  color: #00423e;
  background-color: darkgray;
}

</style>