<template>
  <Page actionBarHidden="true" class="auth-page">
    <ScrollView>
      <StackLayout orientation="vertical">
        <GridLayout rows="auto" columns="auto, *, auto">
          <FontIcon name="fa-arrow-left" class="white margin-10" row="0" col="0" size="27.5" v-on:tap="$navigateBack"/>
        </GridLayout>

        <GridLayout rows="auto" columns="*, *, *" horizontalAlignment="center">
          <Image src="~/assets/images/logo.png" row="0" col="1"/>
        </GridLayout>

        <GridLayout rows="auto,auto,auto,auto,auto" columns="*,5*,*">
          <TextField class="auth-field" v-model="email" hint="Email" row="0" col="1"/>
          <TextField class="auth-field" v-model="password" hint="Mot de passe" secure="true" row="1" col="1" />
          <TextField class="auth-field" v-model="confirmPassword" hint="Confirmez votre mot de passe" secure="true" row="2" col="1" />
          <TextView text="En m'inscrivant, j'accepte les conditions d'utilisation et la politique de confidentialité" row="3" col="1" editable="false" textWrap="true"/>
          <Button text="Créer mon compte" class="auth-btn" v-on:tap="goForward" row="4" col="1" /> 
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
import App from "../App";
import StepTwo from "./StepTwo";
import axios from "axios";

export default {
  data: function() {
    return {
      email: "",
      password: "",
      confirmPassword: ""
    };
  },
  methods: {
    goToMainPage() {
      this.$navigateTo(App);
    },
    validFields() {
      if(!(this.email && this.password)) {
        alert({ 
          title : "Inscription",
          message: "Veuillez remplir tous les champs",
          okButtonText: "OK"
        });
        return false;
      }
      if (this.password != this.confirmPassword) {
        alert({ 
          title : "Inscription", 
          message: "Les deux mots de passe ne correspondent pas",
          okButtonText: "OK"
        });
        return false;
      }
      return true;
    },
    async emailExists() {
      let res = await axios.post("http://185.216.27.203:3000/verifyEmail", {email: this.email});
      return res.data.email;
    },
    async goForward() {
      if(this.validFields()) { 
        let existingEmail = await this.emailExists();
        if(existingEmail) {
          return alert({ 
            title : "Inscription", 
            message: "L'adresse email est déjà utilisée",
            okButtonText: "OK"
          });
        }
        this.$navigateTo(StepTwo, {        
          props: {
            email: this.email,
            password: this.password,
          }
        }); 
      }
    }
  }
};
</script>

<style scoped>
Switch[checked=true]{
  color: #f58b00;
  background-color: white;
}

Switch[checked=false]{
  color: #dddddd;
  background-color: white;
}

#login {
  color: white;
}

TextView {
  font-size: 11;
  text-align: center;
  color: white;
  background-color: transparent;
  border-color: transparent;
}
</style>