<template>
  <Page class="sign-up-page">
    <ActionBar title="Votre photo">

    </ActionBar>

    <StackLayout orientation="vertical">
      <GridLayout rows="auto" columns="*, 5*, *">
        <Progress value="2" maxValue="3" row="0" col="1"/>
      </GridLayout>
      <GridLayout rows="auto" columns="*, 2*, *">
        <Image class="new-picture" v-bind:src="photo.src" v-on:tap="selectPicture" stretch="aspectFit" row="1" col="1"/>
      </GridLayout>
			<GridLayout rows="auto, auto, auto" columns="*, 5*, *">
				<Button class="auth-btn" text="Ajouter photo" v-on:tap="selectPicture" row="2" col="1"/>
			</GridLayout>
      <GridLayout id="nav" rows="*, auto" columns="*,*">
        <FontIcon name="fa-arrow-right" class="sign-up-arrow" row="1" col="1" size="36" horizontalAlignment="right" v-on:tap="goForward"/>
      </GridLayout>
    </StackLayout>
	</Page>
</template>


<script>
import StepFour from "./StepFour";
import * as imagepicker from "nativescript-imagepicker";
import { Image } from "tns-core-modules/ui/image";

export default {
  data: function() {
    return {
			photo: { src: "~/assets/images/profile.png" }
    }
  },
  methods: {
    goBackward() {
    	this.$navigateBack();   
    },
    selectPicture() {
			let context = imagepicker.create({mode: 'single'});

			context.authorize()
			.then(function() {
				return context.present();
			})
			.then(selected => {
					let img = new Image();
					img.src = selected[0]._android;
          this.photo = img;
          console.log(img.src);
			}).catch(function (e) {
				console.log('error in selectPicture', e);
			});
		},
    goForward() {
      this.$store.commit("picture", this.photo.src);
			this.$navigateTo(StepFour);
    }
  }
};
</script>