<template>
  <Page class="sign-up-page">
    <ActionBar title="Bienvenue !">

    </ActionBar>

    <StackLayout orientation="vertical">
			<GridLayout rows="auto, auto, auto, auto, auto, auto" columns="*, 5*, *">
        <Progress value="1" maxValue="3" row="0" col="1"/>
        <TextField class="" v-model="firstname" hint="Votre prénom" row="1" col="1"/>
        <TextField class="" v-model="lastname" hint="Votre nom"  row="2" col="1" />
        <TextField class="" v-model="birth" keyboardType="datetime" hint="Votre date de naissance" row="3" col="1" />
        <TextField class="" v-model="city" hint="Votre ville actuelle"  row="4" col="1" />
        <ListPicker class="" v-model="sex" :items="sexpicker" row="5" col="1" />
			</GridLayout>
      <GridLayout id="nav" rows="*, auto" columns="*,*">
        <FontIcon name="fa-arrow-right" class="sign-up-arrow" row="1" col="1" size="36" horizontalAlignment="right" v-on:tap="goForward"/>
      </GridLayout>
    </StackLayout>
	</Page>
</template>

<script>
import StepThree from "./StepThree";
import axios from "axios";

export default {
  props: {
    email: String,
    password: String
  },
  data: function() {
    return {
      firstname: "",
      lastname: "",
      city: "",
      birth: "",
      sex: 0,
      sexpicker: ["Femme","Homme","Non spécifié"]
    }
  },
  methods: {
    validFields() {
      if(!(this.firstname && this.lastname && this.city && this.birth)) {
        alert({
          title : "Inscription",
          message: "Veuillez remplir tous les champs",
          okButtonText: "OK"
        });
        return false;
      };
      return true;
    },
    async goForward() {
      if(this.validFields()) {
        let res = await axios.post("http://185.216.27.203:3000/register", {
          email: this.email,
          password: this.password,
          firstname: this.firstname,
          lastname: this.lastname,
          city: this.city,
          birth: this.birth,
          sex: this.sex
        });

        if(res.data.auth) {
          this.$store.commit("save", res.data);
          this.$navigateTo(StepThree, {clearHistory: true });
        }
      }
    }
  }
};
</script>

<style scoped>
TextField {
  margin: 10;
  color: #00554f;
  placeholder-color: #58707a;
  border-bottom-width: 1;
  border-color:#00554f; 
}

ListPicker {
  color: #00554f;
}
</style>